.listing-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

#large-image-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    text-align: center;
}

#large-image {
    max-width: 100%;
    max-height: 100%;
}

#overlay button {
    position: absolute;
    top: 10px;
    font-size: 24px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#closeBtn {
    right: 10px;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

#overlay button:hover {
    color: red;
}

.container {
    text-align: center;
}

#image-container {
    display: inline-block;
}

#buttons-container {
    margin-top: 10px;
}

#listing-details {
    text-align: center;
}

#listing-details table {
    margin: 0 auto;
}

#listing-details td, #listing-details th {
    width: 450px;
}

#listing-details td {
    text-align: left;
    font-size: 18px;
}

#listing-details th {
    text-align: right;
    font-size: 18px;
}

p {
    max-width: 1200px;
    margin: 0 auto; 
    font-size: 20px;
}